p {
    text-align: left;
}

h1, h2 {
    text-align: center;
    padding: 20px;
}

button {
    background-color: navy;
    color: white;
    border: solid 1px navy;
    position: center;
}

p {
    margin: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    width: 100%; /* Make each row take the full width */
    display: flex; /* Apply flex to each row for alignment */
    column-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex-item {
    flex: 1 1 25%; /* Grow to fill 1/4th of the container */
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex-item label, .flex-item input, .flex-item button, .flex-item select {
        width: 75%;
        display: block; /* Make label, input, and button take the full width of the flex item */
        padding-bottom: 10px;
        padding-top: 10px;
    }

.center-button-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    width: 100%; /* Take full width to allow centering */
    padding-top: 20px;
    padding-bottom: 20px;
}

.align-items-center {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    width: 100%; /* Take full width to allow centering */
}

table {
    width: 100%;
    table-layout: fixed;
}

    table th, table td {
        width: 14.28%; /* 100% / 7 columns */
        text-align: left;
        padding: 8px;
    }

    table th {
        background-color: #f2f2f2;
    }